
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/AdminPanel/Views/Shared/_layout.cshtml";
}

<div class="col-12">

    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Sistemde Kayıtlı Ürünler</h3>
            <br />
            <a href="/new-product" class="btn btn-warning">Yeni Ürün</a>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            BURAYA KAYITLI ÜRÜN LİSTESİ GELECEK VE DATATABLE İLE LİSTELENECEK
        </div>
        <!-- /.card-body -->
    </div>
</div>

