
@{
    ViewData["Title"] = "NewManager";
    Layout = "~/Areas/AdminPanel/Views/Shared/_layout.cshtml";
}

@section scripts
{
    <script>
        $(document).ready(function(){
            $("#btnSave").click(function(){
                var formData = new FormData();
                var file = $("#fuPhoto")[0].files[0];
                formData.append("photo", file);

                $.ajax({
                    url: "/manager-photo-upload",
                    method: "post",
                    data: formData,
                    contentType: false,
                    processData: false,
                    success: function(response) {
                        var vm = {
                            FullName: $("#txtFullName").val(),
                            UserName: $("#txtUserName").val(),
                            Password: $("#txtPassword").val(),
                            Email: $("#txtEmail").val(),
                            PhotoPath: response.photoPath
                        };

                        $.ajax({
                            url: "/new-manager",
                            method: "post",
                            datatype: "json",
                            data: vm,
                            success: function(resp) {
                                if (resp.isOk) {
                                    alert(resp.message);
                                    window.location.href = "/managers";
                                }
                            }
                        })
                    }
                });
            }) 
        });
    </script>
}

<div class="col-12">
    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">Yönetici Kayıt Formu</h3>
        </div>
        <!-- /.card-header -->
        <!-- form start -->
        <form role="form">
            <div class="card-body">
                <div class="form-group">
                    <label>Ad Soyad</label>
                    <input type="text" class="form-control" id="txtFullName" placeholder="Ad Soyad Giriniz">
                </div>

                <div class="form-group">
                    <label>Kullanıcı Adı</label>
                    <input type="text" class="form-control" id="txtUserName" placeholder="Kullanıcı Adı Giriniz.">
                </div>

                <div class="form-group">
                    <label>Şifre</label>
                    <input type="password" class="form-control" id="txtPassword" placeholder="Şifre Giriniz.">
                </div>

                <div class="form-group">
                    <label>Email Adresi</label>
                    <input type="email" class="form-control" id="txtEmail" placeholder="Email Adresi Giriniz">
                </div>

                <div class="form-group">
                    <label>File input</label>
                    <div class="input-group">
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="fuPhoto">
                            <label class="custom-file-label" for="exampleInputFile">Fotoğraf Seç</label>
                        </div>

                    </div>
                </div>

            </div>
            <!-- /.card-body -->

            <div class="card-footer">
                <button id="btnSave" type="button" class="btn btn-primary">Kaydet</button>
            </div>
        </form>
    </div>
</div>

